

body{
    margin: 10px auto;
    width:96%;
}

.pointer{
    cursor: pointer;
}

.box-content{
    display: flex;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 5px 0 5px;
    padding: 5px 5px;
}

.box-img{
    border:1px solid #bbb;
    margin-right: 5px;
    height: 100px;
    width: 100px;
    border-radius: 5px;
}

.up-image{
    width:98px;
    height:98px;
    opacity: 0;
    position: absolute;
}

.box-text{
    border:1px solid #eee;
    border-radius: 5px;
    padding: 5px 10px;
    height: 100px;
    width: 86%;
}

.box-shadow{
    height: 110px;
    width: 100%;
    display:flex;
    align-items:center;
    overflow: hidden;

    border:1px solid #eee;
    border-radius: 5px;
    margin: 5px 0 5px;
    padding: 5px 5px;
}

.k10{
    height: 10px;
}
.k20{
    height: 20px;
}
.k30{
    height: 30px;
}
.k40{
    height: 40px;
}
.k50{
    height: 50px;
}

.ele {
    flex-shrink: 1;
    width: 6px;
    background-color: #bbb;
    box-shadow: 0px 0px 1px 1px #fff;
}

.pt{
    cursor: pointer;
    width: 99%;
    height: 50px;
    transform: scale(1,1);
    background: #666;
    transition: transform 0.6s ease-in;
    will-change: transform;
}

.pt-on{
    width: 99%;
    height: 50px;
    transform: scale(0.1,1);
    background: #666;
    transition: transform 0.6s ease-out;
    will-change: transform;
}

.pt-text{
    color: rebeccapurple;
    font-weight: bold;
    animation: an-spin 30s linear infinite;
    will-change: transform;
}

.btn-box{
    margin: 10px auto;
    padding: 10px auto;
    height: 60px;
    margin-bottom: 10px;
    display:flex;
    align-items: center;
}